.image-preview img {
    border: 30px solid;
    border-color: skyblue lightpink lightgreen #ffefd5;
    margin-left:20%;
}

code {
    background-color: #f3f5f6;
    padding: 10px;
    display: block;
    white-space: pre;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    border-radius: 5px;
    color: #1E1F1F;
    line-height: 1.5;
    font-family: Consolas,"courier new";
}

table {
    font-family: Arial;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: 2px solid #ddd;
}
